discord:
  prefix: "?ka"
  owner_id: discord owner id
  intents:
    guilds: true
    messages: true
    message_content: true
  is_mobile: true

download:
  file_size_limit: 26214400  # 25MB
  blacklist_sites:
    - "example.com"
    - "anotherexample.com"

drive:
  credentials_path: "/path/to/credentials.json"
  folder_id: "your_google_drive_folder_id"